<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Show Cards', showcardsbyuser_path(@user) %> |
<%= link_to 'Show Links', showlinksbyuser_path(@user) %> |
<%= link_to 'Back', user_path(@user) %>
