<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @link.user_id %>
</p>

<p>
  <strong>Card ID:</strong>
  <%= @link.card_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @link.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @link.lng %>
</p>

<p>
  <strong>Meeting Date:</strong>
  <%= @link.created_at %>
</p>

<%= link_to 'Back', links_path %>