<p id="notice"><%= notice %></p>


<p>
  <strong>Card Name:</strong>
  <%= @card.card_name %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @card.first_name %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', cards_path %>