<p id="notice"><%= notice %></p>

<h1>All link requests</h1>

<table>
  <thead>
    <tr>
      <th>Link_request Id</th>
      <th>User Id</th>
      <th>Login</th>
      <th>Card Id</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @link_requests.each do |link_request| %>
      <tr>
        <td><%= link_request.id %></td>  
        <td><%= link_request.user_id %></td>
        <td><%= User.find(link_request.user_id).login %></td>
        <td><%= link_request.card_id %></td>
        <td><%= link_request.lat %></td>
        <td><%= link_request.lng %></td>
        <td><%= link_request.created_at %></td>
        <td><%= link_request.updated_at %></td>
        <td><%= link_to 'Destroy', link_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>